@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: 'Virgil';
    src: url('./assets/Virgil.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@layer utilities{
    .font-manrope{
        font-family: 'Manrope', sans-serif;
    }
}